/* Global styling */

:root {
	font-size: 1rem;
	--main-text-color: #ffffff;
	--deep-green-color: #1fc77e;
	--light-green-color: #05e283;
	--main-bg-color: #111826;
	--black-bg-color: #000000;
}

/* Weight & Styles */

/* FS Meridian Trial 100
FS Meridian Trial 300
FS Meridian Trial 400
FS Meridian Trial 500
FS Meridian Trial 700 - Bold */

/* General Sans 200
General Sans 300
General Sans 400
General Sans 500
General Sans 600
General Sans 700 */

/* font-family: 'General Sans', sans-serif; */
/* font-family: 'FS Meridian Trial', sans-serif; */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

img {
	max-width: 100%;
}

.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1440px;
}

main {
	background-color: var(--main-bg-color);
    padding-bottom: 21.6em;
}

.inlineColor {
	color: var(--deep-green-color);
}

/* Styling of Hero section */

header {
	margin-bottom: 2em;
}

.heroRight-col {
	display: none;
}

.rectangleMobile {
	position: relative;
	display: flex;
	/* justify-content: space-between; */
}

.yellowRectangle {
	width: 195px;
	padding: 2em;
	background: #feea00;
	border-radius: 67px 0px 150px 67px;
}

.purpleCircle {
	padding: 2em;
	border-radius: 6.25rem;
	background: #7f3dd2;
	background-image: url(/assets/images/arrowAngleLeft.png);
	background-repeat: no-repeat;
	background-position: center;
}

.absoluteShiftMobile {
	position: absolute;
	bottom: 55%;
}

.heroHeading {
	margin-top: 1.19em;
}

.heroHead {
	color: var(--main-text-color);
	font-size: 2.25rem;
	font-family: "FS Meridian Trial", sans-serif;
	font-weight: 500;
}

.heroSubHeading {
	margin-top: 1.44em;
}

.heroSubhead {
	color: var(--main-text-color);
	font-size: 1.63rem;
	font-family: "General Sans", sans-serif;
	font-weight: 500;
}

.heroText {
	margin-top: 0.5em;
}

.heroContext {
	color: var(--main-text-color);
	font-family: "General Sans", sans-serif;
}

.heroActionText {
	margin-top: 1.1em;
}

.actionText {
	color: var(--main-text-color);
	font-size: 1.25rem;
	font-family: "General Sans", sans-serif;
	font-weight: 500;
}

.heroAction {
	margin-top: 1.44em;
}

.heroButton {
	width: 100%;
	padding: 1.33em 1.6em;
	background-color: var(--deep-green-color);
	border-radius: 0.31rem;
	border: none;
	outline: none;
	color: var(--main-text-color);
	font-size: 1.25rem;
	line-height: 1rem;
}

/* Styling of the first Layout */

.firstLayout {
	margin-top: 2.94rem;
}

.collabImg {
	display: none;
}

.solutionHead {
	color: var(--main-text-color);
	font-size: 2.25rem;
	font-family: "FS Meridian Trial", sans-serif;
	font-weight: 500;
}

.solutionAI-two {
	padding: 2.1rem 0.38rem 2.1rem 1.38rem;
	margin-top: 1.69em;
	background: var(--main-text-color);
	border-radius: 0.625rem;
}

.collabHead {
	color: var(--black-bg-color);
	font-size: 1.25rem;
	font-family: "General Sans", sans-serif;
	font-weight: 500;
}

.collabSubhead {
	padding-right: 1.38rem;
	margin-top: 0.93rem;
}

.collabText {
	color: var(--black-bg-color);
	font-size: 1.13rem;
	font-family: "General Sans", sans-serif;
}

.solutionAI-three {
	display: flex;
	flex-direction: column;
	margin-top: 1.1em;
}

.solutionAI-boxes {
	padding: 1.88em 0.69em 1.81em 1.56em;
	border-radius: 0.625rem;
	background: rgba(255, 255, 255, 0.2);
}

.solutionAI-boxes + .solutionAI-boxes {
	margin-top: 0.81em;
}

.solutionAI-info {
	color: var(--main-text-color);
	font-size: 1.25rem;
	font-family: "General Sans", sans-serif;
	font-weight: 500;
}

.firstLayout-left {
	margin-top: 3.13em;
	border: 1px solid red;
}

.phoneSkeleton {
    position: relative;
	margin: 0 auto;
	width: 50%;
	border: 1px solid green;
}

.applePhone {
	position: relative;
	text-align: center;
	background-image: url(/assets/images/appleIphoneImg.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
    z-index: 1;
	border: 1px solid coral;
}

.fbMessenger {
	padding: 1.5em;
	border-radius: 6.25rem;
	background: var(--main-text-color);
	background-image: url(/assets/images/facebookMessengerLogo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1.5rem;
	position: absolute;
	top: 10%;
	left: -15%;
    z-index: 1;
}

.phoneGreen {
	padding: 1.5em;
	border-radius: 60px 58px 58px 0px;
	background-color: var(--deep-green-color);
	position: absolute;
	bottom: 20%;
	left: -15%;
}

.whatsApp {
    padding: 2em;
    border-radius: 6.25rem;
	background: var(--main-text-color);
	background-image: url(/assets/images/whatsApp.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 2.5rem;
    position: absolute;
    right: -20%;
    bottom: 10%;
    z-index: 1;
}

.phoneYellow {
    padding: 1.5em;
	border-radius: 60px 58px 58px 0px;
	background-color: #FEEA00;
    position: absolute;
    right: -20%;
    top: 20%;
}



/* Styling of second layout section */

.secondLayout {
    margin-top: 3.8em;
}

.poseContainer {
    position: relative;
}

.poseStar {
    position: absolute;
    top: 0%;
    right: 0%;
    margin: -5em -1em 0em 0em;
}

.secondLayout-top {
    display: flex;
    align-items: center;
}

.testimonialHeading {
    width: 70%;
    border: 1px solid red;
}

.testimonialHead {
    color: var(--main-text-color);
	font-size: 2.25rem;
	font-family: "FS Meridian Trial", sans-serif;
	font-weight: 500;
}

.yellowStar {
    width: 30%;
    border: 1px solid green;
}

.secondLayout-btm {
    margin-top: 1.88em;
    border-radius: .625rem;
    background: #414651;
    padding: 1.88em 1.63em 2.19em 2.25em;
}

.ratingContain {
    display: flex;
    align-items: center;
}

.eachRating + .eachRating {
    margin-left: 0.5em;
}

.testimonialTopic {
    margin: 0.88em 0em;
    padding-right: 0.38em;
}

.testimonialText {
    color: var(--main-text-color);
	font-family: "General Sans", sans-serif;
	font-weight: 500;
    line-height: 1.5rem;
}

.testimonialContext {
    color: var(--main-text-color);
    font-size: 0.81rem;
	font-family: "General Sans", sans-serif;
	font-weight: 400;
    line-height: 1.38rem;
}

.testimonialOwner {
    margin-top: 1.75em;
    display: flex;
    align-items: center;
}

.testimonialName {
    margin-left: 0.94em;
}

.ownerName {
    color: var(--main-text-color);
    font-size: 0.81rem;
	font-family: "General Sans", sans-serif;
	font-weight: 500;
    line-height: 1.38rem;
}

.slidesDot {
    text-align: center;
    margin-top: 1.38em;
}


/* Styling of the smallie Float section */

.smallieFloat {
    background: var(--light-green-color);
    border-radius: 0.625rem;
    padding: 2.13em 1.13em;
}

.smallieHeading {
    margin-bottom: 1.63em;
    padding: 0em 0.88em 0em 0.5em;
    text-align: center;
}

.smallieHead {
    color: var(--black-bg-color);
	font-size: 1.63rem;
	font-family: "FS Meridian Trial", sans-serif;
	font-weight: 500;
}

.smallieHead > span {
    color: var(--main-text-color);
}

.smallieAction {
    text-align: center;
}

.smallieClick {
    padding: 1.31em 1.75em;
    border-radius: 0.31rem;
    border: none;
    outline: none;
    background: var(--black-bg-color);
    color: var(--main-text-color);
    font-size: 1.25rem;
	font-family: "General Sans", sans-serif;
	font-weight: 500;
    line-height: 1rem;
}



/* Styling of the footer section */

.footerSection {
    background: var(--black-bg-color);
    padding: 17.25em 1.88em 3.56em 2.1em;
}

.footerLogo {
    width: 8.8rem;
    margin-bottom: 2.31em;
}

.footFlex {
    display: flex;
    justify-content: space-between;
}

/* .footLists + .footLists {
    margin-left: 1.5em;
} */

.footLists {
    display: flex;
    flex-direction: column;
}

.eachFoot + .eachFoot {
    margin-top: 2.31em;
}

.footHeading {
    margin: 2.63em 0em 2em;
}

.footHead, .footItems {
    color: var(--main-text-color);
    font-size: 1.13rem;
	font-family: "General Sans", sans-serif;
	font-weight: 500;
    line-height: 1rem;
}

.footHead {
    color: var(--light-green-color);
    font-weight: 600;
    letter-spacing: 0.1rem;
}