/* Global styling */

:root {
	font-size: 1rem;
	--main-text-color: #FFFFFF;
	--deep-green-color: #1FC77E;
	--light-green-color: #05E283;
	--main-bg-color: #111826;
    --footer-bg-color: #000000;
}

/* Weight & Styles */

/* FS Meridian Trial 100
FS Meridian Trial 300
FS Meridian Trial 400
FS Meridian Trial 500
FS Meridian Trial 700 - Bold */


/* General Sans 200
General Sans 300
General Sans 400
General Sans 500
General Sans 600
General Sans 700 */

/* font-family: 'General Sans', sans-serif; */
/* font-family: 'FS Meridian Trial', sans-serif; */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

img {
	max-width: 100%;
}

.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1440px;
}

main {
    background-color: var(--main-bg-color);
}


/* Styling of Hero section */

header {
    margin-bottom: 2em;
}

.heroRight-col {
    display: none;
}

.rectangleMobile {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.yellowRectangle {
    width: 195px;
    padding: 2em;
    background: #FEEA00;
    border-radius: 67px 0px 150px 67px;
}

.purpleCircle {
    padding: 2em;
    border-radius: 6.25rem;
    background: #7F3DD2;
    background-image: url(/assets/images/arrowAngleLeft.png);
    background-repeat: no-repeat;
    background-position: center;
}

.absoluteShiftMobile {
    position: absolute;
    bottom: 55%;
}

.heroHeading {
    margin-top: 1.19em;
}

.heroHead {
    color: var(--main-text-color);
    font-size: 2.25rem;
    font-family: 'FS Meridian Trial', sans-serif;
    font-weight: 500;
}

.heroSubHeading {
    margin-top: 1.44em;
}

.heroSubhead {
    color: var(--main-text-color);
    font-size: 1.63rem;
    font-family: 'General Sans', sans-serif;
    font-weight: 500;
}

.heroText {
    margin-top: 0.5em;
}

.heroContext {
    color: var(--main-text-color);
    font-family: 'General Sans', sans-serif;
}

.heroActionText {
    margin-top: 1.1em;
}

.actionText {
    color: var(--main-text-color);
    font-size: 1.25rem;
    font-family: 'General Sans', sans-serif;
    font-weight: 500;
}

.heroAction {
    margin-top: 1.44em;
}

.heroButton {
    width: 100%;
    padding: 1.33em 1.6em;
    background-color: var(--deep-green-color);
    border-radius: .31rem;
    border: none;
    outline: none;
    color: var(--main-text-color);
    font-size: 1.25rem;
    line-height: 1rem;
}